#cs1300-gallery {
  background-color: lightblue;
}

/* Uncomment below if images are way too big.
Selects all image tags and makes them 500px;
 */
img {
  width: 500px;
}

.gallery-item {

}

.gallery-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
